


  
  /* Estilos específicos para esta página */
  
  .card {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  
  /* Estilos para la barra de navegación */
  
  
  
  .dropdown-item {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
  }
  
  .dropdown-item:hover {
    transform: translateY(-5px);
  }