li {
    color: $beige;
}

h2 {
    text-align: center;
}

img {
    justify-content: center;
}

footer {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/*Nuevo*/

.img-producto-carrito{
    width:200px; /* you can use % */ 
    height: auto;

}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

}

.card-footer {
    font-size: 0.8rem;
    color: #888;
}